* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  float: right;
  overflow: hidden;
}

nav a {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 14px 16px;
  text-align: center;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #f2f2f2;
}

.about-block {
  display: inline-block;
  min-height: 300px;
  min-width: 280px;
  padding: 30px;
  vertical-align: top;
  width: 35%;
}

.about-block h3 {
  font-size: 28px;
}

.about-me {
  margin-top: 10px;
}

.bar {
  background: #fff;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
  width: 30px;
}

.card {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: inline-block;
  margin: 5px;
  min-width: 280px;
  vertical-align: top;
  width: 20%;
}

.card-content {
  min-height: 100px;
}

.card-content p {
  padding: 10px 20px;
}

.card-image {
  background: #111;
  /* background: url('img/project.png') no-repeat; */
  /* background-size: 100% 280px; */
  height: 280px;
}

.change #bottom-bar {
  -webkit-transform: rotate(45deg) translate(-7px, -3px);
  transform: rotate(45deg) translate(-7px, -3px);
}

.change #middle-bar {
  opacity: 0;
}

.change #top-bar {
  -webkit-transform: rotate(45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.level-advanced {
  width: 90%;
}

.level-familiar {
  width: 40%;
}

.level-proficient {
  width: 65%;
}

.logo {
  display: inline-block;
  height: 20px;
  margin: 0 10px;
  width: 20px;
}

.logo-github {
  background: url('../img/logos/GitHub.svg') no-repeat;
  background-size: 20px;
}

.logo-instagram {
  background: url('../img/logos/Instagram.svg') no-repeat;
  background-size: 20px;
}

.logo-linkedin {
  background: url('../img/logos/LinkedIn.svg') no-repeat;
  background-size: 20px;
}

.logo-mail {
  background: url('../img/logos/Mail.svg') no-repeat;
  background-size: 20px;
}

.logo-twitter {
  background: url('../img/logos/Twitter.svg') no-repeat;
  background-size: 20px;
}

.progress-bar, .progress {
  border-radius: 10px;
  background: #dfdfdf;
  height: 10px;
}

.progress {
  background: #5a3100;
}

.skill p {
  margin: 10px 0;
}

#about {
  background: #f5f5f5;
}

#about-container {
  padding: 60px 0;
  text-align: center;
}

#card-container {
  padding-bottom: 40px;
}

#contact {
  background: rgba(0, 0, 0, 0.0);
  color: #fff;
  text-align: center;
  padding: 60px 0;
}

#contact h3 {
  font-size: 28px;
}

#container {
  position: relative;
}

#container::before {
  content: '';
  background: url('../img/background.png') no-repeat top center fixed;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

#hamburger-icon {
  display: none;
}

#links {
  padding: 20px 0;
}

#name {
  background: rgba(0, 0, 0, 0.0);
  min-height: 100vh;
}

#resume {
  margin-top: 30px;
}

#resume a {
  border-radius: 6px;
  border: 1px #5a3100 solid;
  color: #5a3100;
  padding: 8px 18px;
}

#resume a:hover {
  color: #fff;
  background: #5a3100;
}

#work {
  background: #fff;
  text-align: center;
}

#work h3 {
  font-size: 28px;
}

#work-header {
  padding: 20px 0;
}

@media screen and (max-width: 340px) {
  .about-block {
    padding: 30px 0;
  }

  .card {
    margin: 5px 0;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    background: #111;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    transition: 0.5s;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    z-index: 1;
  }

  nav a {
    color: #818181;
    display: block;
    font-size: 25px;
    padding: 8px 8px 8px 32px;
    transition: 0.3s;
  }

  #hamburger-icon {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 2;
  }
}
